html,
body {
  font-family: 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.testimonial-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-section .testimonial-container {
  width: 1280px;
  min-width: 1280px;
  height: 600px;
  position: relative;
}
.testimonial-section .testimonial-container .arrows {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  top: 0;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  max-width: 50px;
}
.testimonial-section .testimonial-container .arrows.left {
  transform: rotate(180deg);
}

.testimonial-section .testimonial-container .arrows.right {
  right: 0;
}

.testimonial-section .testimonial-container .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.testimonial-section .testimonial-container .inner .t-image {
  width: 500px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial-section .testimonial-container .inner .t-image:after {
  content: none;
  position: absolute;
  width: 200px;
  height: 200px;
  background: #3f56da;
  left: 140px;
  top: 0;
  border-radius: 100%;
  z-index: -9;
}
.testimonial-section .testimonial-container .inner .t-image ul {
  display: flex;
  position: absolute;
  overflow: hidden;
  height: 460px;
  width: 340px;
  box-shadow: 0px 0px 40px rgba(0, 0, 10, 0.25);
  padding-left: 0;
  margin-left: 0;
}
.testimonial-section .testimonial-container .inner .t-image ul li {
  max-width: 680px;
  max-height: 590px;
}
.testimonial-section .testimonial-container .inner .t-image ul li img {
  height: 460px;
  width: 340px;
}

::marker {
  content: none;
}
